<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ntu.lottery.mapper.ActivityMapper">

    <select id="selectDrawCost" resultType="int">
        SELECT draw_cost
        FROM activity
        WHERE id = #{id}
    </select>

    <select id="selectConfig" resultType="com.ntu.lottery.entity.ActivityConfig">
        SELECT id,
               status,
               draw_cost AS drawCost,
               daily_draw_limit AS dailyDrawLimit,
               fallback_prize_id AS fallbackPrizeId,
               start_time AS startTime,
               end_time AS endTime
        FROM activity
        WHERE id = #{id}
    </select>

</mapper>
