<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ntu.lottery.mapper.UserMapper">

    <select id="selectLastCheckinDate" resultType="java.time.LocalDate">
        SELECT last_checkin_date FROM sys_user WHERE id = #{id}
    </select>

    <select id="selectPoints" resultType="int">
        SELECT points FROM sys_user WHERE id = #{id}
    </select>

    <select id="selectByInviteCode" resultType="map">
        SELECT id, username FROM sys_user WHERE invite_code = #{inviteCode}
    </select>
    <select id="selectPointsById" resultType="long">
        SELECT points FROM sys_user WHERE id = #{id}
    </select>

    <select id="selectPointsAndLevel" resultType="map">
        SELECT points, level
        FROM sys_user
        WHERE id = #{id}
    </select>

    <update id="addPoints">
        UPDATE sys_user SET points = points + #{delta} WHERE id = #{id}
    </update>

    <update id="updateCheckin">
        UPDATE sys_user
        SET points = points + #{rewardPoints},
            last_checkin_date = #{today}
        WHERE id = #{id}
    </update>

    <update id="deductPointsGuard">
        UPDATE sys_user
        SET points = points - #{cost}
        WHERE id = #{id} AND points &gt;= #{cost}
    </update>


    <insert id="insertUser">
        INSERT INTO sys_user
        (id, username, password_hash, password_salt, points, invite_code, status, last_login_time, last_password_change, failed_login_count, locked_until)
        VALUES
        (#{id}, #{username}, #{passwordHash}, #{passwordSalt}, 0, #{inviteCode}, #{status}, NULL, #{lastPasswordChange}, 0, NULL)
    </insert>

    <select id="selectAuthById" resultType="map">
        SELECT id,
               username,
               password_hash,
               password_salt,
               status,
               failed_login_count,
               locked_until,
               points,
               invite_code
        FROM sys_user
        WHERE id = #{id}
    </select>

    <update id="updateLoginSuccess">
        UPDATE sys_user
        SET last_login_time = #{loginTime},
            failed_login_count = 0,
            locked_until = NULL
        WHERE id = #{id}
    </update>

    <update id="updateLoginFailure">
        UPDATE sys_user
        SET failed_login_count = failed_login_count + 1,
            locked_until = CASE
                WHEN failed_login_count + 1 &gt;= #{maxFailed}
                THEN DATE_ADD(NOW(), INTERVAL #{lockMinutes} MINUTE)
                ELSE locked_until
            END
        WHERE id = #{id}
    </update>

</mapper>
